body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bg_chatbot.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

#root img {
  vertical-align: baseline;
}

.container {
  height: 600px;
}

.row {
  height: 600px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute!important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chat-icon {
  height: 100px;
  position: relative;
  cursor: pointer;
}

form {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 16px;
  opacity: 0.9;
}

form h2 {
  margin-bottom: 20px;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
